*:after, *:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container{
    font-family: 'BioRhyme Expanded', serif;
    background-color: lavenderblush;
    margin:0; 
}
/*using flex bow to further make the navbar responsive and aligned correctly*/
.flex-container{
    display:flex;
    /*flex-flow: nowrap;*/
}
h2{
    font-weight:bold;
    font-size:35px;
    margin-left: 10px;
}
.navbar{
    display: flex;
    flex:1; 
    background-color: maroon;
    margin:0 ; 
    /*position: relative;*/
    
}
.menu{
    flex:2;
}
.navbar .menu{
    display:flex;
    position: relative;
}
.navbar .menu li{
    /*flex 1 to make them grow unformily and added display flx to all to make items clickable etc*/
    /*flex: 1;*/
    display: flex;
    text-align: center;
}
.navbar .menu a{
    /*flex:1;*/
    /*justify-content: center;*/
    color:white;
    text-decoration: none;
    padding:20px;
    font-size:15px;
}
/*custom drop down styled with help needs to be more responsive as does whole page good on med size screen*/
.dropdown >div> a{
    color:white; 
    margin-right:25px;
    margin-bottom: 25px;
}
a{
    color:black;   
}
.dropdown{
    margin-top:35px;
    display:flex;
    flex:1;  
}
span{
    flex:1;
}
div, ul,li{
    padding-bottom:5px;
    
}
.menuOpt{
    margin-bottom: 25px;
}

#myDrop{
    display: none;
    position: absolute;
    font-size:14px;
    background-color:rgb(211, 211, 211);
    border:1px solid maroon;
    border-radius: 5px;
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.281);
    padding:12px 14px 12px 14px;
    margin-right: 25px;
    z-index: 1;
    list-style-type: none;
}


.dropdown:hover #myDrop{
    display: block;
}
#colChng{
    text-align: center;
    color:maroon;
}
input{
    height:50px;
    font-size:20px;
    border-radius: 10px;
    padding-left: 10px;
    
}
/*add position relative to label to keep it on the left side of input*/
label{
    position: relative;
    float: left;
    width:200px;
    margin-top:10px;
    margin-right:-15px;
    
}
#container{
    width:500px;
    margin: 0 auto;
}
.frmEle{
    margin-bottom: 10px;
}
#errorMessage{
    color: red;
    font-size:75%;
}
#successMessage{
    color: red;
    font-size:75%;
    display:hidden;
}
.centerTxt{
    text-align: center
}
.homeStyle{
    font-style:oblique;
    font-weight: bold;
}
.cardStyle{
    margin:50px 100px 50px 100px;
    border:1px dashed maroon;
    border-radius: 17px;

}