 * {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /*html{
      background-color:#ffbab92e;
      border-radius:2px;
  }*/
  body,html{
      height:100%;
      margin:0;
      background-color: beige;
  }
  .navStyle{
      font-size:1.5rem;
     
  }
  .styleHeading{
      text-align: center;
      
  }
  .heading{
      font-style: oblique;
      font-weight:bold;
      text-decoration: underline;
      color:maroon;
      font-family: 'Courgette', cursive;
      font-size:100px;
  }
  .heading:hover{
      color: teal;
  }
  .headBack{
      background-color: beige;
      font-family: 'Handlee', cursive;
      padding-top: 0px;
      margin-right:5px;
      margin-left:-15px;
      margin-bottom:0;
  }
  .display-4{
      padding-top:50px;
  }
  .lead2{
      text-align: center;
      font-size:40px;
  }
 
 
  header span{
      font-family: 'Courgette', cursive;
      text-align:center;
      font-size: 25px;
      padding-right: 25px;
      padding-left: 30px;
      background-color: maroon;
      color: beige;
      
  }
  header span:first-child{
      padding-left:800px;
  } 
  header span:last-child{
      padding-right:100px;
      margin-right:-200px;
  }
  .navbar{
      background-color: maroon;
      color: beige; 
      padding: 0 !important; 
  }
 
div > .sweetStarts{
    width:100%;
    margin:0;
}
.sweetStarts{
    /* display: flex; */
   
    /* The image used */
    
    /* background-image: url("https://c.pxhere.com/photos/37/b5/photo-10696.jpg!d"); */
    background-image: url("https://texas-de-brazil-website.s3.amazonaws.com/s3_amazonaws_com/texas-de-brazil-website/menu/Desserts_7485b33d6281fd86ae5c0f9af4439236.jpg");
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;

}
 footer{
     position: fixed;
     left:0;
     bottom:0;
     height:50px;
     width:100%;
     padding-top:20px;
     text-align: center;
     border:1px solid black;
     border-radius: 5px;
     background-color: maroon;
     color:white;
     
 }