* {
    box-sizing: border-box;
    
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
html{
      
      border-radius:2px;
  }
body,html{
      height:100%;
      margin:0;
      font-family: 'Handlee', cursive;
      background-color: lightgray
      /*background-color:rgba(255, 186, 185, 0.706);
      background:linear-gradient(to right,rgba(250, 186, 185, 0.70),rgba(251, 210, 208, 0.50),rgba(253, 233, 232,0.25))*/
  }
  
.heading{
      font-style: oblique;
      font-weight:bold;
      text-decoration: underline;
      color:white;
      font-family: 'Courgette', cursive;
      font-size:100px;
      padding-left:150px;

  }
  
.headBack{
      background-color: beige;
      background-image: url('../dessertImages/sandwich.jpg');
      background-position: center;
      background-repeat:no-repeat;
      background-size: cover;
      font-family: 'Handlee', cursive;      
      padding-top: 0px;
      margin-right:5px;
      margin-left:-15px;
      margin-bottom:0;
  }
.display-4{
      padding-top:50px;
  }
.lead2{
      text-align: right;
      font-size:40px;
  }
 
 
header span{
      font-family: 'Courgette', cursive;
      text-align:center;
      font-size: 25px;
      padding-right: 25px;
      padding-left: 30px;
      background-color: maroon;
      color: beige;
      
  }
header span:first-child{
      padding-left:800px;
  } 
header span:last-child{
      padding-right:100px;
      margin-right:-200px;
  }
.navbar{
      background-color: maroon;
      color: beige; 
      padding: 0 !important; 
  }
.lead2{
    text-align: right;
    font-size:40px;
    margin-top:15px;
    margin-right:25px;
    font-weight:bold;
    color:white;
}
.headDesign{
    text-align:center;
    margin-top:20px;
}
.parallax {   
    background-image: url("../dessertImages/saladBowl.jpg");
    height:100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backImage{
    background-image: url('../dessertImages/salad.jpeg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    opacity:0.2;
}

.ornament{
    text-align:center;
    
}
.align-center{
    text-align:center;
}
.text-primary{
    z-index: 0; 
    position: relative; 
    background-image: none; 
    background-attachment: scroll; 
    background-size: auto;
    
}
.changeSize{
    height:20px;
    width:20px;
    margin-right:10px;
}

.menu-item {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 17px;
    box-shadow: 0 0 4px 3px lightgrey;
    padding-top: 10px;
}
.menu-heading{
    padding-top:40px;
    font-size:35px;
}